# Imports

In [376]:
from model import Tweets, engine
from streamer import session

import os

import eli5
import en_core_web_sm
from gensim.utils import simple_preprocess
from gensim.parsing.preprocessing import preprocess_documents, preprocess_string
import geopandas as gpd
from geopandas import GeoDataFrame
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, roc_auc_score
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB, GaussianNB
from sklearn.pipeline import Pipeline
import spacy

nlp = en_core_web_sm.load()

# Loading Data

## From Tweets Database

In [364]:
df = pd.read_sql_table("tweets", con=engine)

#Convert to GeoDataFrame with coordinates
gdf = GeoDataFrame(
    df,
    geometry=gpd.points_from_xy(df['longitude'], df['latitude']))
print(gdf.shape)
gdf.head()

(19950, 6)

,id,tweet,timestamp,longitude,latitude,geometry
0,1243926213325991938,299 cases of #coronavirus in Mecklenburg Count...,2020-03-28 15:41:34,-80.846785,35.209059,POINT (-80.84679 35.20906)
1,1243926289716842496,Hey all you #MAGA #BoycottFox enough of this c...,2020-03-28 15:41:53,-77.604684,41.117936,POINT (-77.60468 41.11794)
2,1243926297128120322,If you run out of toilet paper 🧻 or paper towe...,2020-03-28 15:41:54,-83.173867,32.678207,POINT (-83.17387 32.67821)
3,1243926355047149568,@KTLA @glenwalkerktla #coronavirus @MayorOfLA ...,2020-03-28 15:42:08,-118.608094,34.185857,POINT (-118.60809 34.18586)
4,1243926372311085064,You are so right. This is a draft dodger. He h...,2020-03-28 15:42:12,-87.746654,41.480941,POINT (-87.74665 41.48094)

## From 2016 Presidential Election Results CSV and US States CSV

In [179]:
votes = pd.read_csv('https://raw.githubusercontent.com/tonmcg/US_County_Level_Election_Results_08-16/master/2016_US_County_Level_Presidential_Results.csv')
path_to_states = os.path.join('data', 'states.csv')
states = pd.read_csv(path_to_states)

#Access both states and state abbreviations
votes = votes.merge(states['State'], how='left', left_on='state_abbr', right_on=states['Code'])
#Rename state column for merge with shapefile
votes = votes.rename(columns={'State':'STATE_NAME'})
#Remove " County" for clean merge with shapefile
votes['county_name'] = votes['county_name'].str.replace(' County', '')
print(votes.shape)
votes.head()

(3141, 12)

,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,county_name,combined_fips,STATE_NAME
0,0,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2013,Alaska
1,1,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2016,Alaska
2,2,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2020,Alaska
3,3,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2050,Alaska
4,4,93003.0,130413.0,246588.0,0.377159,0.52887,"37,410",15.17%,AK,Alaska,2060,Alaska

## From US Counties Shapefile

In [180]:
path_to_shape = os.path.join('data', 'UScounties', 'UScounties.shp')
shapefile = gpd.read_file(path_to_shape)
shapefile = shapefile.rename(columns={'NAME':'county_name'})
print(shapefile.shape)
shapefile.head()

(3141, 6)

,county_name,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,geometry
0,Lake of the Woods,Minnesota,27,077,27077,"POLYGON ((-95.34283 48.54668, -95.34105 48.715..."
1,Ferry,Washington,53,019,53019,"POLYGON ((-118.85163 47.94956, -118.84846 48.4..."
2,Stevens,Washington,53,065,53065,"POLYGON ((-117.43883 48.04412, -117.54219 48.0..."
3,Okanogan,Washington,53,047,53047,"POLYGON ((-118.97209 47.93915, -118.97406 47.9..."
4,Pend Oreille,Washington,53,051,53051,"POLYGON ((-117.43858 48.99992, -117.03205 48.9..."

In [181]:
votes = shapefile.merge(votes, on=['county_name', 'STATE_NAME'], how='inner')
print(votes.shape)
votes.head()

(3006, 16)

,county_name,STATE_NAME,STATE_FIPS,CNTY_FIPS,FIPS,geometry,Unnamed: 0,votes_dem,votes_gop,total_votes,per_dem,per_gop,diff,per_point_diff,state_abbr,combined_fips
0,Lake of the Woods,Minnesota,27,077,27077,"POLYGON ((-95.34283 48.54668, -95.34105 48.715...",1351,553.0,1540.0,2230.0,0.247982,0.690583,987,44.26%,MN,27077
1,Ferry,Washington,53,019,53019,"POLYGON ((-118.85163 47.94956, -118.84846 48.4...",2961,1091.0,2178.0,3560.0,0.306461,0.611798,"1,087",30.53%,WA,53019
2,Stevens,Washington,53,065,53065,"POLYGON ((-117.43883 48.04412, -117.54219 48.0...",2984,4348.0,11059.0,16438.0,0.264509,0.672770,"6,711",40.83%,WA,53065
3,Okanogan,Washington,53,047,53047,"POLYGON ((-118.97209 47.93915, -118.97406 47.9...",2975,3980.0,6305.0,10893.0,0.365372,0.578812,"2,325",21.34%,WA,53047
4,Pend Oreille,Washington,53,051,53051,"POLYGON ((-117.43858 48.99992, -117.03205 48.9...",2977,1932.0,4364.0,6788.0,0.284620,0.642899,"2,432",35.83%,WA,53051

## Penultimate DataFrame: Counties, Geometries, and Election Results

In [182]:
#Drop unwanted columns

votes = votes.drop(['votes_dem', 'votes_gop', 'Unnamed: 0',
                    'total_votes', 'diff', 'state_abbr',
                    'combined_fips', 'STATE_FIPS', 'CNTY_FIPS',
                    'FIPS'], axis=1)
#New columns: Blue or Red
votes['winner'] = ['Blue' if votes['per_dem'][i] > votes['per_gop'][i] else 'Red' for i in range(votes.shape[0])]
votes.head()

,county_name,STATE_NAME,geometry,per_dem,per_gop,per_point_diff,winner
0,Lake of the Woods,Minnesota,"POLYGON ((-95.34283 48.54668, -95.34105 48.715...",0.247982,0.690583,44.26%,Red
1,Ferry,Washington,"POLYGON ((-118.85163 47.94956, -118.84846 48.4...",0.306461,0.611798,30.53%,Red
2,Stevens,Washington,"POLYGON ((-117.43883 48.04412, -117.54219 48.0...",0.264509,0.672770,40.83%,Red
3,Okanogan,Washington,"POLYGON ((-118.97209 47.93915, -118.97406 47.9...",0.365372,0.578812,21.34%,Red
4,Pend Oreille,Washington,"POLYGON ((-117.43858 48.99992, -117.03205 48.9...",0.284620,0.642899,35.83%,Red

## Geopandas: Match tweet to county

In [227]:
def match_to_county(tweet):
    for i in range(votes.shape[0]):
        if votes['geometry'][i].contains(tweet['geometry']):
            return votes['county_name'][i]

def match_to_state(tweet):
    for i in range(votes.shape[0]):
        if votes['geometry'][i].contains(tweet['geometry']):
            return votes['STATE_NAME'][i]

In [217]:
match_to_county(gdf.iloc[20, :])

'King'

In [222]:
gdf['county_name'] = [match_to_county(gdf.iloc[i, :]) for i in range(gdf.shape[0])]

In [228]:
gdf['STATE_NAME'] = [match_to_state(gdf.iloc[i, :]) for i in range(gdf.shape[0])]

## Final merge

In [277]:
final = pd.DataFrame(gdf.merge(votes[['county_name', 'STATE_NAME', 'per_point_diff', 'winner']], on=['county_name', 'STATE_NAME']))

#Convert timestamp column to datetime
final['timestamp'] = pd.to_datetime(final['timestamp'])

#Convert tweet Series to dtype String
final['tweet'] = final['tweet'].astype('str')

print(final.shape)
final.head()

(13809, 10)

,id,tweet,timestamp,longitude,latitude,geometry,county_name,STATE_NAME,per_point_diff,winner
0,1243926213325991938,299 cases of #coronavirus in Mecklenburg Count...,2020-03-28 15:41:34,-80.846785,35.209059,POINT (-80.84679 35.20906),Mecklenburg,North Carolina,29.87%,Blue
1,1243929281002123267,Not surprising,2020-03-28 15:53:46,-80.846785,35.209059,POINT (-80.84679 35.20906),Mecklenburg,North Carolina,29.87%,Blue
2,1243931481015300097,I learned this from @marklewismd I think. Fyi ...,2020-03-28 16:02:30,-80.846785,35.209059,POINT (-80.84679 35.20906),Mecklenburg,North Carolina,29.87%,Blue
3,1243932122395676675,Lmfao shocker. Can’t believe anything the Chin...,2020-03-28 16:05:03,-80.846785,35.209059,POINT (-80.84679 35.20906),Mecklenburg,North Carolina,29.87%,Blue
4,1243999374579044353,#nycoronavirus,2020-03-28 20:32:17,-80.883981,35.410351,POINT (-80.88398 35.41035),Mecklenburg,North Carolina,29.87%,Blue

In [278]:
final['timestamp'].dtype

dtype('<M8[ns]')

# Models

### Custom tokenizer

In [463]:
def tokenize(doc):
    return [token.text for token in nlp(doc) 
            if (token.pos_ not in set(['PROPN', 'PUNCT', 'ADP', 'NUM', 'SPACE', 'PRON', 'DET', 'AUX', 'PART']))
            and (token.text not in set(['#', 'coronavirus', 'covid', '𝚌𝚘𝚛𝚘𝚗𝚊𝚟𝚒𝚛𝚞𝚜']))
            and token.like_url == False
            and token.is_stop == False
           ]

In [464]:
tokenize(final['tweet'][70])

['Hey', 'crap']

## Train/validation/test split

In [447]:
X = final['tweet']
y = final['winner']

#Train/test split
X_train, X_test, y_train, t_test = train_test_split(X, y, test_size=0.1, shuffle=True, stratify=y)

#Train/val split
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, shuffle=True, stratify=y_train)

## Baseline

In [461]:
print(y_val.mode())
print(accuracy_score(y_val, [y_val.mode()]*len(y_val)))

# print(roc_auc_score(y_val, [y_val.mode()]*len(y_val)))

0    Blue
dtype: object
0.7099758648431215

## Naive Bayes

In [450]:
counter = CountVectorizer(
    stop_words='english',
    tokenizer=tokenize,
    ngram_range=(1,3),
    analyzer='word'
)

bayes = MultinomialNB()

pipeline = Pipeline([('counter', counter),
                     ('bayes', bayes)])

pipeline.fit(X_train, y_train)

pipeline.score(X_val, y_val)

0.7204344328238134

In [451]:
eli5.show_weights(bayes, vec=counter, top=10,
                  target_names=y.unique())

## Log Regression

In [455]:
counter = CountVectorizer(
    stop_words='english',
    tokenizer=tokenize,
    ngram_range=(1,5),
    analyzer='word'
)

log = LogisticRegression()

pipeline = Pipeline([('counter', counter),
                     ('bayes', log)])

pipeline.fit(X_train, y_train)

pipeline.score(X_val, y_val)

0.7204344328238134

In [460]:
eli5.show_weights(log, vec=counter, top=50,
                  target_names=y.unique())

In [465]:
eli5.show_prediction(log, final['tweet'][6], vec=counter,
                     target_names=y.unique())